.about{
   margin-top:20%;
   @media @desktop{
       margin-top:6%;
   }
}
.about{
    .flex_std;
    flex-flow: column;
    
    h2{
        border-bottom: 2px solid @black;
        @media @desktop{
            margin-bottom:4%;
        }
    }
    .team{
        .flex_std;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        .person{
            margin:3%;
            .flex_std;
            width: 80%;
            text-align: center;
            @media @desktop{
                width: 19%;
            }
            // h3{
            //     background: @black;
            //     color:white;
            //     opacity: .3;
            // }
            img{
                border-radius: 50%;
                width:50%;
            }
            padding-bottom:3%;
            border-bottom: 1px solid @black;
        }
        .reverse{
            flex-direction: row-reverse;
            @media @desktop{
                flex-direction: row;
            }
        }
    }
}
