body{
     
    
    //I need to trouble shoot how to lighten the image
}
.main{
    //padding-top:40%;
    background: url(../img/backpackcam.jpg) @white;
    .signup{
        padding:1%;
        .flex_std;
        flex-flow: column nowrap;
        background: transparent;
        justify-content: space-around;
        //background: cover;
        height: 100vh;
        h2{
            line-height: 4;
            background:@white;
            color:@font-color;
            opacity: .5;
            display:flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        .button{
            .button_mix;
            font-size:3rem;
            color:@button_std_cl;
            background: @white;
            padding:1%;
            opacity: .8;
            &:hover{
                color:black;
                opacity: .6;
            }
        }
    }
}
.marketing{
    .flex_std;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    .fact{
        margin:3%;
        .flex_std;
        width: 80%;
        text-align: center;
            // h3{
            //     background: @black;
            //     color:white;
            //     opacity: .3;
            // }
            img{
                border-radius: 9%;
                width:50%;
            }
            padding-bottom:3%;
            border-bottom: 1px solid @black;
    }
    .reverse{
        flex-direction: row-reverse;
    }
}