.top-bar{
    border-bottom:black 1px solid;
    margin:0% 0% 0% 0%;
    padding:1%;
    background:@header_color;
    color:@white;
    width: 100%;
    .flex_std;
    .locked;
    opacity: .9;
    nav{
        .flex_std;
        a{
            &:link{
                text-decoration: none;
                color:@white;
            }
            &:visited{
                text-decoration: none;
                color:@black;
            }
        }
    }
    .flex_std;
    max-width: 100%;
    
    .logo{
        .flex_std;
        flex-flow:column;
        justify-content: center;
        width:15%;
        border:@white 1px @font-color;
        
        h3{
            font-size: 1.5rem;
        }
        &:hover{
            background: @white;
            opacity: .6;
            color:black;
            cursor:pointer;
        }
    }
    
    .button{
        .button_mix;
        width: 20%;
        padding:2%;
        }
}