.top-bar{
    margin:3%;
    nav{
        .flex_std;
    }
    .flex_std;
    max-width: 100%;
    .logo{
        width:10%;
    }
    .button{
        .button_mix;
        width: 20%;
        padding:2%;
        }
}