//Colors

@button_std_cl: #00adb5;
@button_click_cl:#00adb5;
@font-color: #222831;
@white: #eeeeee;
@header_color:#393e46;
//Fonts
@primary_fam: 'Roboto', sans-serif;
@header_fam: 'Alatsi', sans-serif;